<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RemotableHGU_PBoss_Adapter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
      <RemotableHGU_PBoss_Adapter.Properties.Settings>
        <setting name="RemotableHGU_PBoss_Adapter_WebReference_NMExternalOtherUtilService"
          serializeAs="String">
          <value>http://10.243.66.41:8080/ngrm/services/NMExternalOtherUtilService.NMExternalOtherUtilServiceHttpSoap11Endpoint/</value>
        </setting>
      </RemotableHGU_PBoss_Adapter.Properties.Settings>
    </applicationSettings>
</configuration>